/* userTable.css */
.user-table-container {
    margin: 20px;
  }
  
  .loading-message {
    color: #333;
    font-weight: bold;
  }
  
  .user-dropdown {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .remove-button:hover {
    background-color: #d32f2f;
  }
  body {
    background-color: moccasin;
  }
  